extends layout

block content
    form(enctype='application/json',method="post")
        div.input
            input(type="string", name="ownId")
        div.input
            input(type="string", name="otherId")
        div.actions
            input(type='submit',value="ok")

    script(src="/socket.io/socket.io.js")
    script(src="http://code.jquery.com/jquery-1.11.1.js")
    script().
        var socket = io();
        $('form').submit(function () {
            socket.emit('looking at');
            return true;
        });

